node_modules/
.env
.env.*
# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build / output
dist/
build/
out/
coverage/
# Caches
.cache/
.parcel-cache/
.next/
# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
# Misc
package-lock.json
